<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="reservationApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../styles/style.css" />
    <!--Can't find the style.css -->
    <link rel="stylesheet" href="../styles/backstore.css" />
    <!--Can't find the backstore.css -->
    <link rel="stylesheet" href="../plugins/animate.min.css" />
    <!--Can't find the animate.min.css -->
    <title>ล็อกอิน</title>
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top: 80px;">
            <h2 class="title text-center" style="margin-bottom: 50px;">Qme(Logo)</h2>
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <a class="btn btn-lg btn-theme" style="width: 100%;" href>Dashboard</a>
            </div>
        </div>
        <hr />
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div class="frame-page">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle dropdown-btn-expand" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="dropdown-btn-ellipsis">DuiDuidduidudiduidudid duidui dudiu sdfsdfsdfsdfsdfsdf</span>
                                <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-ul-expand" aria-labelledby="dropdownMenu1">
                            <li><a href="#" class="dropdown-li-ellipsis notransition">Action duiii duii aass bbb cddcdd sdf frosdfsdfsdf</a></li>
                            <li><a href="#" class="dropdown-li-ellipsis notransition">Another action</a></li>
                            <li><a href="#" class="dropdown-li-ellipsis notransition">Something else here</a></li>
                            <li><a href="#" class="dropdown-li-ellipsis notransition">Separated link</a></li>
                        </ul>
                    </div>
                    <a class="btn btn-lg btn-theme" style="display: inherit; margin-top: 30px; margin-bottom: 15px;" href>Reserve Queue</a>
                    <a class="btn btn-lg btn-theme" style="display: inherit; margin-bottom: 15px;" href>Queue List</a>
                    <a class="btn btn-lg btn-theme" style="display: inherit; margin-bottom: 15px;" href>Next Queue</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
