extend ../layout.jade
block append content
    .container
      .row
        .col-md-6.col-md-offset-3(style='text-align: center; margin-top: 20px;')
          img#logo-image.logo-header(src='../images/logo.jpg', alt='Logo')
      .row(style='margin-top: 40px; margin-bottom: 40px; text-align: center;')
        h2(style='margin-bottom: 30px;') เรียกลูกค้ารายต่อไปสำหรับ
        label.radio-inline
          a.btn.btn-lg.btn-option.notransition(href='', ng-click='getNextQueue(0)', style='margin-top: 10px;') 1 - 2 ที่นั่ง
        label.radio-inline
          a.btn.btn-lg.btn-option.notransition(href='', ng-click='getNextQueue(1)', style='margin-top: 10px;') 3 - 6 ที่นั่ง
        label.radio-inline
          a.btn.btn-lg.btn-option.notransition(href='', ng-click='getNextQueue(2)', style='margin-top: 10px;') 6 ที่นั่งขึ้นไป
        a.btn.btn-lg.btn-theme(style='margin-left: 30px; margin-top: 10px;', href='', ng-click='callThisQueue()') เรียก
      .row.ng-scope
        table.table(style='width: 90%; margin: auto; font-size: 18px;')
          tbody
            tr
              th(style='width: 15%; text-align: center;') ลำดับคิว
              th ชื่อ
              th(style='width: 15%; text-align: center;') จำนวนที่นั่ง
              th(style='width: 15%; text-align: center;') มา
              th(style='width: 15%; text-align: center;') ไม่มา
            tr.ng-scope.ng-cloak(ng-repeat='customer in listCustomersCalling')
              td.ng-binding(style='text-align: center') {{ customer.QueuePosition }}
              td.ng-binding {{ customer.Name }}
              td.ng-binding(style='text-align: center') {{ customer.NumberOfSeats }}
              td(style='text-align: center;')
                i#callqueue-attend.fa.fa-check.clickable-icon.customer-attend(ng-click='attend(customer)')
              td(style='text-align: center;')
                i#callqueue-not-attend.fa.fa-close.clickable-icon.customer-not-attend(ng-click='notAttend(customer)')
      .row(style='margin-top: 65px; margin-bottom: 40px; text-align: center;')
        .col-xs-6.col-xs-offset-3
          .col-lg-6(style='margin-bottom: 10px;')
            input#callqueue-text-name.form-control.input-lg(type='text', placeholder='ชื่อ', ng-model='searchCustomer.Name')
          .col-lg-3(style='margin-bottom: 10px;')
            input#callqueue-text-numseat.form-control.input-lg(type='text', placeholder='จำนวนที่นั่ง', ng-model='searchCustomer.NumberOfSeats')
          .col-lg-3(style='margin-bottom: 10px;')
            a#callqueue-qr-submit.control-label.btn.btn-lg.btn-theme(style='margin-left: 10px;', href='#', data-toggle='modal', data-target='#callqueue-searchResultModal', ng-click='searchCustomerByNameAndNumSeats()') ค้นหา QR Code
    #callqueue-searchResultModal.modal.fade
      .modal-dialog(style='width: 90%;')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body(style='text-align: center;')
            h2.modal-title(style='margin-bottom: 20px;') ผลการค้นหา
            .row.ng-scope
              table.table(style='width: 90%; margin: auto; font-size: 18px;')
                tbody
                  tr
                    th(style='width: 15%; text-align: center;') ลำดับคิว
                    th ชื่อ
                    th(style='width: 15%; text-align: center;') จำนวนที่นั่ง
                    th(style='width: 15%; text-align: center;')
                  tr.ng-scope(ng-repeat='customer in searchResultCustomers')
                    td.ng-binding(style='text-align: center; line-height: 2; vertical-align: middle;') {{ customer.QueuePosition }}
                    td.ng-binding(style='text-align: start; line-height: 2; vertical-align: middle;') {{ customer.Name }}
                    td.ng-binding(style='text-align: center; line-height: 2; vertical-align: middle;') {{ customer.NumberOfSeats }}
                    td(style='text-align: center; line-height: 2; vertical-align: middle;')
                      button#callqueue-button-showSearchModal.control-label.btn.btn-lg.btn-theme(style='margin-left: 10px;', ng-click='selectCustomer(customer)', data-toggle='modal', data-dismiss='modal', data-target='#callqueue-qrModal')
                        | แสดง QR Code
    #callqueue-qrModal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body(style='text-align: center;')
            h2.modal-title(style='margin-bottom: 20px;') รหัส QR Code ของ {{ searchCustomer.Name }}
            qr(type-number='8', correction-level="'M'", size='250', text='qrCodeString', image='true')
