extend ../layout.jade
block append content
    .container
      .row
        .col-md-6.col-md-offset-3(style='text-align: center; margin-top: 20px;')
          img#logo-image.logo-header(src='../images/logo.jpg', alt='Logo')
      .row(style='margin-top: 40px;')
        .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
          .frame-page
            .frame-header
              h2 จองคิว/ลงทะเบียน
            .input-group(style='margin-bottom: 20px;', ng-hide='checked')
              span.input-group-addon
                i.fa.fa-user
              input.form-control(type='text', placeholder='ชื่อผู้จอง', ng-model='customer.Name')
            .input-group(style='margin-bottom: 20px;')
              span.input-group-addon
                i.fa.fa-sort-numeric-asc
              input#num-seat-input.form-control(type='text', placeholder='จำนวนที่นั่ง', ng-model='customer.NumberOfSeats')
            .row
              .col-md-6.checkbox
                label
                  input(type='checkbox', ng-model='checked', ng-change='change()')
                  | ไม่มีคิวในขณะนี้
              .col-md-6
                button#reservequeue-submit.btn.btn-theme.btn-block(ng-click='reserveSeats()', ng-bind='submitText') ทำการจองคิว
            hr
    #reserve-complete-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body(style='text-align: center;')
            h3.modal-title(style='margin-bottom: 20px;') ท่านได้ทำการจองเรียบร้อย กรุณาสแกน QR Code เพื่อรับข้อมูลคิวผ่านทางสมาร์ทโฟน
            qr(type-number='8', correction-level="'M'", size='250', text='qrCodeString', image='true')
    #fail-validate-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body(style='text-align: center;')
            h3.modal-title-error(style='margin-bottom: 20px;') กรุณากรอกข้อมูลให้ถูกต้อง
    #save-data-complete-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body(style='text-align: center;')
            h3.modal-title(style='margin-bottom: 20px;') บันทึกข้อมูลเสร็จสิ้น
block append script
    script(type='text/javascript', src='scripts/reserve-script.min.js')