doctype html
html(xmlns='http://www.w3.org/1999/xhtml', ng-app='reservationApp', class='ng-scope')
  head
    base(href='/')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Qme
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='plugins/font-awesome-4.4.0.min.css')
    link(rel='stylesheet', href='styles/style.min.css')
    link(rel='stylesheet', href='styles/backstore.min.css')
    link(rel='stylesheet', href='plugins/animate.min.css')
    link(rel='stylesheet', href='plugins/jquery-ui.min.css')
    link(rel='shortcut icon', href='images/favicon.ico', type='image/x-icon')
    script(type='text/javascript', src='angular/angular.min.js')
    script(type='text/javascript', src='angular-route/angular-route.min.js')
    script(type='text/javascript', src='qrcode/lib/qrcode.min.js')
    script(type='text/javascript', src='angular-qr/angular-qr.min.js')
    script(type='text/javascript', src='scripts/angularmain.js')
    block style
  body(ng-controller=mainCtrl)
    block content
    script(type='text/javascript', src='//code.jquery.com/jquery-2.1.4.min.js')
    script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(type='text/javascript', src='plugins/jquery-ui.min.js')
    script(type='text/javascript', src='socket.io/socket.io.js')
    block script