<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Q-Me</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../styles/style.min.css" />
    <link rel="stylesheet" href="../styles/backstore.css" />
    <link rel="stylesheet" href="../plugins/flexslider.css" />
    <link rel="stylesheet" href="../plugins/animate.min.css" />
    <link rel="stylesheet" href="../plugins/jquery-ui.css" />
</head>
<body>
    <header id="top" class="header navbar-fixed-top" style="background-color: #56bc94">
        <div class="container">
            <h1 class="logo pull-left">
                <a class="scrollto" href="#promo">
                    <img id="logo-image" class="logo-image" src="../images/logo-white.jpg" alt="Logo" />
                </a>
            </h1>
            <!--//logo-->
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--//nav-toggle-->
                </div>
                <!--//navbar-header-->
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item sr-only active"><a href="#promo">Home</a></li>
                        <li class="nav-item"><a href="#" style="color: white;">Account</a></li>
                        <li class="nav-item"><a href="#" style="color: white">Setting</a></li>
                    </ul>
                    <!--//nav-->
                </div>
                <!--//navabr-collapse-->
            </nav>
            <!--//main-nav-->
        </div>
    </header>

    <div class="container" style="margin-top: 100px;">
        <h1>MyDashboard</h1>
        <div>
            <h4 id="currentonline" style="float: right;"></h4>
        </div>
        <div style="clear: both; text-align: center; margin-bottom: 20px;">
            <label class="dashboard-label">ตั้งแต่</label>
            <input class="dashboard-input-text" type="text" id="time-start" />
            <label class="dashboard-label">ถึง</label>
            <input class="dashboard-input-text" type="text" id="time-end" />
            <button type="button" id="time-button" class="btn btn-dashboard btn-sm">Go</button>
        </div>
        <div id="chartdiv01" class="chart-panel" style=""></div>
        <div id="chartdiv02" class="chart-panel" style=""></div>
        <div id="chartdiv03" class="chart-panel" style=""></div>
        <br />
        <br />
        <hr />
        <div style="text-align: center; margin-top: 40px;">
            <label>ดูกราฟ </label>
            <select id="filter-by" style="-webkit-appearance: menulist;">
                <option value="day">รายวัน</option>
                <option value="month">รายเดือน</option>
            </select>
        </div>
        <div id="chartdiv05" class="chart-panel" style=""></div>
        <div id="chartdiv06" class="chart-panel" style=""></div>
    </div>


    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../plugins/jquery-ui.js"></script>
    <script type="text/javascript" src="//cdn.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="//cdn.amcharts.com/lib/3/pie.js"></script>
    <script type="text/javascript" src="//cdn.amcharts.com/lib/3/serial.js"></script>
    <script type="text/javascript" src="//cdn.amcharts.com/lib/3/themes/black.js"></script>
    <script type="text/javascript" src="../scripts/dashboard-charts.js"></script>
    <script>

        var currentdate = new Date();
        var thisMonth;
        var thisDate;

        if ((currentdate.getMonth() + 1) < 10) {
            thisMonth = '0' + (currentdate.getMonth() + 1);
        } else {
            thisMonth = (currentdate.getMonth() + 1);
        }
        if ((currentdate.getDate()) < 10) {
            thisDate = '0' + currentdate.getDate();
        } else {
            thisDate = currentdate.getDate();
        }

        var shortcurrentdate = currentdate.getFullYear() + "-" + thisMonth + "-" + thisDate;

        setDatePickerToElement = function (id) {
            $(id).datepicker({ dateFormat: "d/m/yy" });
            $(id).val(currentdate.getDate() + "/"
                + (currentdate.getMonth() + 1) + "/"
                + currentdate.getFullYear());
        }

        function convertDate(date) {
            var pattern = /^(\d{1,2})\/(\d{1,2})\/(\d{4})$/;
            var arrayDate = date.match(pattern);
            if (arrayDate[2] < 10) {
                arrayDate[2] = '0' + arrayDate[2];
            }
            if (arrayDate[1] < 10) {
                arrayDate[1] = '0' + arrayDate[1];
            }

            return arrayDate[3] + '-' + arrayDate[2] + '-' + arrayDate[1];
        }

        $(function () {
            setDatePickerToElement("#time-start");
            setDatePickerToElement("#time-end");
        });

        $("#time-button").click(function () {
            calloutChartSet1(false);
        });

        $("#filter-by").change(function () {
            if ($(this).val() == 'day') {
                makeChart05(JSON.parse(localStorage.getItem('chart05day')), "chartdiv05", 'day', '30');
                makeChart06(JSON.parse(localStorage.getItem('chart06day')), "chartdiv06", 'day', '30');
            } else {
                makeChart05(JSON.parse(localStorage.getItem('chart05month')), "chartdiv05", 'month', '30');
                makeChart06(JSON.parse(localStorage.getItem('chart06month')), "chartdiv06", 'month', '30');
            }
            
        });

        calloutChartSet1 = function (isRepeated) {
            var timeStart = $("#time-start").val() ?
                convertDate($("#time-start").val()) : shortcurrentdate;
            var timeEnd = $("#time-end").val() ?
                convertDate($("#time-end").val()) : shortcurrentdate;
            var companyId = 52;

            $.ajax({
                url: 'http://localhost:3000/dashboardSectionOne',
                data: {
                    TimeStart: timeStart,
                    TimeEnd: timeEnd,
                    CompanyId: companyId
                },
                type: 'POST',
                async: false,
                success: function (data) {
                    //$.each(data[1].dataProvider, function (index, element) {
                    //    alert(element['category']);
                    //    alert(element['column-1']);
                    //});

                    makeChart01(data[0], "chartdiv01", timeStart, timeEnd);
                    makeChart02(data[1], "chartdiv02", timeStart, timeEnd);
                    makeChart03(data[2], "chartdiv03", timeStart, timeEnd);
                },
                complete: function () {
                    if (isRepeated) {
                        //setTimeout(callout(true), 5000);
                    }
                }
            });
        }

        calloutChartSet2 = function (isRepeated) {
            var companyId = 52;

            $.ajax({
                url: 'http://localhost:3000/dashboardSectionTwo',
                data: {
                    CompanyId: companyId
                },
                type: 'POST',
                async: false,
                success: function (data) {
                    $("#currentonline").text('มีลูกค้า ' + data[0] + ' คนกำลังใช้แอพต่อคิวในขณะนี้');
                    makeChart05(data[1], "chartdiv05", 'day', '30');
                    makeChart06(data[2], "chartdiv06", 'day', '30');

                    localStorage.setItem("chart05day", JSON.stringify(data[1]));
                    localStorage.setItem("chart06day", JSON.stringify(data[2]));
                    localStorage.setItem("chart05month", JSON.stringify(data[3]));
                    localStorage.setItem("chart06month", JSON.stringify(data[4]));
                },
                complete: function () {
                    if (isRepeated) {
                        //setTimeout(callout(true), 5000);
                    }
                }
            });
        }

        

        $(document).ready(function () {
            calloutChartSet1(false);
            calloutChartSet2(false);
        });

    </script>
</body>
</html>
